body{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    background-color: whitesmoke;
    margin-left: 70px;
    margin-top: 70px;
}

.container{
   
     background-color:rgba(172, 156, 156, 0.795);
     width:3000px;
     font-family:sans-serif;
    box-shadow:rgba(168, 164, 164, 0.35) 0px 5px 15px;
    border-radius:10px;
    overflow: hidden;
    margin:20px;  
   
}

.txt{
    
    border-radius: 10px;
    
}
.btn{ 
    color: rgb(150, 150, 231);
    border: 2px solid;
    border-radius: 20px;
margin-left: 20px;

}
img{
    
    height:auto;
    width:250px;
    object-fit:cover;
}
.info{
    padding: 1rem;
}

h1{
    color:white;
}
.info > h2 {
    background-color:white;
    text-align:center;

}
.info-span {
    font-weight: bold;
}